################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
__pycache__
.idea

/Project 1/__pycache__
/Project 1/.idea
/.vs
.vscode/settings.json
/Project 2/__pycache__
/Project 2/.idea

*.png
*.jpg
*.jpeg
