################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project 1/__pycache__
/.vs
.vscode/settings.json
